# files ~/.ssh/config and /etc/ssh/ssh_config
# modify the two lines under Host * with your personal setting. e.g.:
# e.g.: IdentityFile /home/user/.ssh/private_key_name
# e.g.: User john.doy

Host *
#Path to the private key
IdentityFile ~/.ssh/alexandar.boyanov
User alexandar.boyanov

#Keep ssh connection alive
ServerAliveInterval 60

Host *bstmg.aiam-dh.com
ForwardAgent yes
Port 443

# AWS Bastion
Host *.ap-southeast-2.compute.internal
ProxyCommand ssh sytmg.aiam-dh.com -W %h:%p

